.HostsGame {
  font-family: 'Share Tech Mono', monospace;
}

.AskQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NameButton {
  background-color: transparent;
  border-style: none;
  font-size: 28px;
  font-family: 'Share Tech Mono', monospace;
}

@keyframes slidein {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}

.AnswerCheck {
  animation: slidein 0.5s;
  margin: 0;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--my-black);
  color: var(--my-red);
  border-style: ridge;
  border-color: var(--my-khaki);
  overflow-y: scroll;
}

@keyframes fontgrow {
  from {
    font-size: 0px;
  }
  to {
    font-size: 50px;
  }
}
.AnswerCheck button {
  animation: fontgrow 0.5s;
  font-size: 50px;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
}

.RightWrongButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.TimeLimitInput {
  width: 80px;
  font-size: xx-large;
  font-family: 'Share Tech Mono', monospace;
  border-radius: 10px;
}

.Timer {
  display: flex;
  justify-content: center;
}

.Timer span {
  font-size: 15vw;
}

.NameList {
  display: inline-block;
}

.GoodJob {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.LeaderBoard {
  position: fixed;
  user-select: none;
  background-color: var(--my-black);
  color: var(--my-white);
  border-style: double;
  border-radius: 10px;
  font-size: 32px;
  overflow-y: scroll;
  max-height: 400px;
  border-color: var(--my-red);
}
.LeaderBoard li {
  list-style: none;
  margin: 0px;
  margin-left: -10%;
}

.LeaderBoard ul {
  margin: 0px;
  text-align: left;
}

.LeaderBoard button {
  position: relative;
  font-size: 24px;
  margin: 0px;
  background-color: transparent;
  border: none;
  left: 85%;
  color: var(--my-white);
}

.LeaderBoard h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.GamePin {
  position: fixed;
  font-size: 22px;
  top: calc(100vh - 40px);
  left: calc(100vw - 210px);
}

.PositivePointsNotifier {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: var(--my-red);
}

.NegativePointsNotifier {
}
