body {
  margin: 0;
  box-sizing: border-box;
  --bg-color: #ff7f11;
  --my-black: #000000;
  --my-white: #fffffc;
  --my-red: #ff3f00;
  --my-khaki: #beb7a4;
  background-color: var(--bg-color);
  color: var(--tx-color);
  color: var(--tx-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
